body {
  font-family: sans-serif;
  background-color: white;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem;
  border-bottom: 2px solid #ddd;
}

footer {
  background-color: #060606;
  color: rgb(255, 254, 254);
  text-align: center;
  padding: 1rem;
}

nav a {
  margin: 0 1rem;
  color: rgb(94, 11, 78);
  text-decoration: none;
}

section {
  padding: 1rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.center-video {
  display: block;
  margin: 0 auto;
}

#profil {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
}

.text-intro {
  h2 {
    font-size: 2.5rem;
    margin: 0;
    color: #0d0d0d;
  }
  h1 {
    font-size: 1.5rem;
    margin: 0;
    color: #8a2be2;
  }
  p {
    font-size: 1.5rem;
    margin-top: 0;
    color: #0d0d0d;
  }
}

/* PERUBAHAN DI SINI: Kontainer lingkaran hitam */
.profile-image-container {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  overflow: hidden; /* Penting agar gambar tidak keluar dari lingkaran */
  
  img { /* Styling gambar di dalam kontainer */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* Membuat gambar juga bulat */
  }
}

#video h2 {
  color: #8a2be2;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}